<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
</style>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<title>COLONNE ARCHIVIATE</title>

<link
	href="https://fonts.googleapis.com/css?family=Manjari&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/personalPage.css}">


<script
	src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


</head>
<body>



	<form method="get" action="/KanbanModel/logout" class="form-horizontal">

		<div class="form-actions">
			<input type="submit" id="logout" class="button button-block"
				value="LOGOUT">
		</div>

	</form>
	
	<form method="get" action="/KanbanModel/success" class="form-horizontal">

		<div class="form-actions">
			<input type="submit" id="logout" class="button button-block"
				value="AREA PERSONALE">
		</div>

	</form>

	<h1 id="ciao">WELCOME!</h1>




	<div>

		<div id="admin"></div>

	</div>


	

	<h1>Colonne Archiviate</h1>

	<div class="base" id="columnContainer"></div>










	<script type="text/javascript" th:src="@{/javascript/archiviate.js}"></script>

</body>


</html>
